.ticket {
  width: 502px;
  height: 184px;
  display: flex;
  flex-flow: column nowrap;
  margin: 20px;
  padding: 20px;
  box-sizing: border-box;
  background: white;
  border-radius: 5px;
  box-shadow: var(--shadow);

}

.ticket-head {
  display: flex;
  height: 40%;
  justify-content: space-between;
  align-items: flex-start;
}

.ticket-price {
  font-size: 24px;
  font-weight: var(--semibold);
  margin: 0;
  color: var(--primary-color);
}

.ticket-carrier-logo {
  width: 110px;
  height: auto;
}

.ticket-segment {
  display: flex;
  height: 30%;
}

.ticket-segment>div {
  flex: 1;
}

.segment-subtitle, .segment-info {
  font-size: 12px;
  font-weight: var(--semibold);
  height: 50%;
  margin: 0;
}

.segment-subtitle {
  color: var(--subtitle-color);
}

.segment-info {
  color: var(--text-color);
}